.panel-1,.panel-2,.panel-3,.panel-4,.panel-5,.panel-6 { color: #000;}
.panel-1  { background-color: #eee;}
.panel-2  { background-color: #ddd;}
.panel-3  { background-color: #ccc;}
.panel-4  { background-color: #bbb;}
.panel-5  { background-color: #aaa;}
.panel-6  { background-color: #999;}
.panel-7  { background-color: #888;}
.panel-8  { background-color: #777;}
.panel-9  { background-color: #666;}
.panel-10 { background-color: #555;}

.panel-1, .panel-5, .panel-9  { border-bottom-left-radius:  1200px; }
.panel-2, .panel-6, .panel-10 { border-bottom-right-radius: 1200px; }
.panel-3, .panel-7, .panel-11 { border-top-right-radius:    1200px; }
.panel-4, .panel-8, .panel-12 { border-top-left-radius:     1200px; }
